#logs_interface {
    top: 0px;
    right: 600px;
    width: 400px;
    height: 600px;
    display: none;
}

#login_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: block;
}
#makefilm_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: none;
}
#makefilm_topic_popup {
    top: 30px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: none;
}

#makefilm_genre_popup {
    top: 30%;
    width: 220px;
    display: none;
}

#makefilm_pegi_popup {
    top: 30%;
    width: 220px;
    display: none;
}

#makefilm_step3_popup {
    top: 250px;
    right: 200px;
    width: 420px;
    height: 400px;
    display: none;
}

#makefilm_step4_popup {
    top: 250px;
    right: 200px;
    width: 420px;
    height: 400px;
    display: none;
}

#makefilm_step5_popup {
    top: 250px;
    right: 200px;
    width: 420px;
    height: 400px;
    display: none;
}

#dialog_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: none;
}

#games_popup {
    top: 0px;
    right: 200px;
    height: 600px;
    display: none;
}

#song_popup {
    top: 0px;
    right: 200px;
    height: 80px;
    display: block;
    width: 260px
}

#newspaper_popup {
    top: -20px;
    right: 200px;
    height: 584px;
    width: 427px;
    display: none;
}


#menu_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 300px;
    display: none;
}

#message_popup {
    user-select: text;
}

#new_game_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 450px;
    display: none;
}

#login_popup .popup_content {
    text-align: center;
    padding: 1em;
    color: #fff;
}

.interface {
    position: absolute !important;
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 200px;
    background-color: #343434;
    padding-top: 34px;
    box-shadow: 0px 0px 20px -1px black;
    display: none;
    z-index: 1000;
}

.submit {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #0070C0;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
}

.menu-btn {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.menu-input {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.submit .fa {
    transition: all 0.2s;
}

.submit.ko {
    background-color: #982B2B;
}

.submit:hover:enabled {
    box-shadow: 0px 0px 0px 1000px rgba(255, 255, 255, 0.2) inset;
}

.submit:hover:enabled .fa {
    transform: rotate(-20deg);
}

.submit:active:enabled {
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.2) inset;
}

.menu-btn:disabled{
    background-color: rgba(255, 255, 255, 0.16);
    cursor: not-allowed;
}


#footer-navigation{
    display: none;
}

.control_vol{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.newspaperhead{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.newspaper{
    background: url(../images/journal.jpg);
    background-size: 100% 100%;
}

#job_offers{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 75px;
    width: 116px;
    left: -10px;
    top: 146px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#job_offers:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#stats_succes{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 85px;
    width: 116px;
    left: 290px;
    top: 183px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#stats_succes:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#dev_tech{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 115px;
    width: 183px;
    left: -10px;
    top: 200px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#dev_tech:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}



#rent_stage{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 112px;
    width: 183px;
    left: 230px;
    top: 120px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#rent_stage:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#mailbox_popup {
    top: -20px;
    right: 200px;
    height: 200px;
    width: 400px;
    display: none;
}

.mailboxhead{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.mailbox{
    background: url(../images/mailbox.jpg);
    background-size: 100% 100%;
}

#job_search{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 163px;
    width: 197px;
    left: -10px;
    top: -10px;
    border: 3px solid #ffd509;
    overflow: hidden;
}

  
#job_search:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#contract_offers{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 163px;
    width: 197px;
    left: 190px;
    top: -183px;
    border: 3px solid #ffd509;
    overflow: hidden;
}


#contract_offers:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}

.makefilm{
    background-color: #1b1b1b;
}

.next{
    background-color: rgba(154, 154, 154, 0.52)
}

.big{
    font-size: large;
}

.topic{
    display: block;
    width: 220px;
    margin: 5px 10px;
    float: left;
}

.pegi > img{
    vertical-align: middle;
}

#pick_pegi > img{
    vertical-align: middle;
}

.back{
    margin-right: 5px;
}

.red{
    background-color: red;
}



#feedback { font-size: 1.4em; }
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 38px; }

#selectableActors .ui-selecting { background: #FECA40; }
#selectableActors .ui-selected { background: #F39814; color: white; }
#selectableActors { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectableActors li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 70px; }

.quality{
    display: block;
    width: 300px;
}

small{
    font-size: small;
}

.actors{
    display: block;
    width: 400px;
}

.age{
    display: block;
    position: relative;
    text-align: right;
    bottom: 55px;
    font-size: small;
}

.price{
    display: block;
    position: relative;
    text-align: right;
    bottom: 57px;
    font-size: small;
}

.specialities{
    display: block;
    position: relative;
    text-align: right;
    bottom: 56px;
    font-size: small;
}

.actorName{
    z-index: 3000;
}

.actor{
    position: relative;
    margin-left: 30px;
    bottom: 20px;
    display: flex;
}

.actorImg{
    position: relative;
    top: 10px;
}

.slider input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    margin: 8.5px 0;
}
.slider input[type=range]:focus {
    outline: none;
}
.slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #ff0000, 0px 0px 0px #ff1a1a;
    background: #ff0000;
    border-radius: 8.3px;
    border: 1.3px solid #ff0101;
}
.slider input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.8px;
}
.slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ff0000;
}
.slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #ff0000, 0px 0px 0px #ff1a1a;
    background: #ff0000;
    border-radius: 8.3px;
    border: 1.3px solid #ff0101;
}
.slider input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 0px;
    cursor: pointer;
}
.slider input[type=range]::-ms-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.slider input[type=range]::-ms-fill-lower {
    background: #ff0000;
    border: 1.3px solid #ff0101;
    border-radius: 16.6px;
    box-shadow: 0px 0px 0.5px #ff0000, 0px 0px 0px #ff1a1a;
}
.slider input[type=range]::-ms-fill-upper {
    background: #ff0000;
    border: 1.3px solid #ff0101;
    border-radius: 16.6px;
    box-shadow: 0px 0px 0.5px #ff0000, 0px 0px 0px #ff1a1a;
}
.slider input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 0px;
    cursor: pointer;
    height: 9px;
}
.slider input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}
.slider input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}

#dialog_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #0faa11, 0px 0px 0px #0faa11;
    background: #0faa11;
    border-radius: 8.3px;
    border: 1.3px solid #0faa11;
}

#dubbing_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #007daa, 0px 0px 0px #007daa;
    background: #007daa;
    border-radius: 8.3px;
    border: 1.3px solid #007daa;
}

#script_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #0faa11, 0px 0px 0px #0faa11;
    background: #0faa11;
    border-radius: 8.3px;
    border: 1.3px solid #0faa11;
}

#image_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #ff0000, 0px 0px 0px #ff0000;
    background: #ff0000;
    border-radius: 8.3px;
    border: 1.3px solid #ff0000;
}

#sound_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 0.5px #007daa, 0px 0px 0px #007daa;
    background: #007daa;
    border-radius: 8.3px;
    border: 1.3px solid #007daa;
}