#logs_interface {
    top: 0px;
    right: 600px;
    width: 400px;
    height: 600px;
    display: none;
}

#login_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: block;
}
#makefilm_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: block;
}
#makefilm_topic_popup {
    top: 30px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: none;
}


#dialog_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 400px;
    display: none;
}

#games_popup {
    top: 0px;
    right: 200px;
    height: 600px;
    display: none;
}

#song_popup {
    top: 0px;
    right: 200px;
    height: 80px;
    display: block;
    width: 260px
}

#newspaper_popup {
    top: -20px;
    right: 200px;
    height: 584px;
    width: 427px;
    display: none;
}

#mailbox_popup {
    top: -20px;
    right: 200px;
    height: 200px;
    width: 400px;
    display: block;
}

#menu_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 300px;
    display: none;
}

#message_popup {
    user-select: text;
}

#new_game_popup {
    top: 0px;
    right: 200px;
    width: 500px;
    height: 450px;
    display: none;
}

#login_popup .popup_content {
    text-align: center;
    padding: 1em;
    color: #fff;
}

.interface {
    position: absolute !important;
    top: 50%;
    left: 50%;
    min-width: 200px;
    min-height: 200px;
    background-color: #343434;
    padding-top: 34px;
    box-shadow: 0px 0px 20px -1px black;
    display: none;
    z-index: 1000;
}

.submit {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #0070C0;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
}

.menu-btn {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.menu-input {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.submit .fa {
    transition: all 0.2s;
}

.submit.ko {
    background-color: #982B2B;
}

.submit:hover:enabled {
    box-shadow: 0px 0px 0px 1000px rgba(255, 255, 255, 0.2) inset;
}

.submit:hover:enabled .fa {
    transform: rotate(-20deg);
}

.submit:active:enabled {
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.2) inset;
}

.menu-btn:disabled{
    background-color: rgba(255, 255, 255, 0.16);
    cursor: not-allowed;
}


#footer-navigation{
    display: none;
}

.control_vol{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.newspaperhead{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.mailboxhead{
    background-color: white;
    margin-left: 6px;
    padding: 10px 3px 5px 2px;
    color: #000;
}

.newspaper{
    background: url(../images/journal.jpg);
    background-size: 100% 100%;
}

.mailbox{
    background: url(../images/mailbox.jpg);
    background-size: 100% 100%;
}

#job_offers{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 75px;
    width: 116px;
    left: -10px;
    top: 146px;
    border: 3px solid #ffd509;
    overflow: hidden;
}


#job_offers:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}

#job_search{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 163px;
    width: 197px;
    left: -10px;
    top: -10px;
    border: 3px solid #ffd509;
    overflow: hidden;
}


#job_search:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#contract_offers{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 163px;
    width: 197px;
    left: 190px;
    top: -183px;
    border: 3px solid #ffd509;
    overflow: hidden;
}


#contract_offers:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#stats_succes{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 85px;
    width: 116px;
    left: 290px;
    top: 183px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#stats_succes:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}


#dev_tech{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 115px;
    width: 183px;
    left: -10px;
    top: 200px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#dev_tech:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}



#rent_stage{
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 112px;
    width: 183px;
    left: 230px;
    top: 120px;
    border: 3px solid #ffd509;
    overflow: hidden;

}

#rent_stage:hover{
    border: 5px solid #ffd509;
    overflow: hidden;
    cursor: pointer;
}

.makefilm{
    background-color: #1b1b1b;
}

.next{
    background-color: rgba(255, 0, 0, 0);
}

.big{
    font-size: large;
}

.topic{
    display: block;
    width: 220px;
    margin: 5px 10px;
    float: left;
}